@media (max-width: 1200px) {
    .slide {
        background-size: cover;
    }
    .card-3 {
        background-size: cover;
    }
    .card-4 {
        background-size: contain;
    }
}
@media (max-width: 992px) {
    .slider {
        &__nav {
            display: none;
        }
    }
}
@media (max-width: 576px) {
    .header {
        padding: 20px;
    }
    .slide {
        &__title {
            font-size: 36px;
            line-height: 1.4;
        }
    }
    .card {
        background-position: left top;
        min-height: 300px;
        padding: 30px;
    }
    .card-4 {
        background-position: right top;
    }
}