.footer {
    background-color: #8F79D4;
    padding: 45px 0 40px;
    color: #FFFFFF;
    &__menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        &-item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
        &-link {
            text-decoration: none;
            font-weight: 900;
            font-size: 14px;
            line-height: 20px;
            color: inherit;
        }
    }
    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #E7D9FF;
    }
    &__social {
        &-link {
            text-decoration: none;
            &:nth-child(1) {
                margin-left: 30px;
            }
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }
    &__line {
        margin: 44px 0 25px;
    }
    &__payment-logo {
        vertical-align: middle;
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
    &__link-top {
        text-decoration: none;
        &-text {
            font-weight: 900;
            font-size: 14px;
            line-height: 20px;
            color: #FFFFFF;
            margin-right: 15px;
        }
    }
}